{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h2>{{ user.email }}</h2>

    {% for course in courses %}

        <a href="{{ path('app_course', {'id': course.id} )}}">{{ course.name }}</a>


    {% endfor %}


{% endblock %}
