{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
    <br>

    {% for chapter in chapters %}

    <h2>{{ chapter.name }}</h2>
        <p>{{ chapter.description }}</p>
        <br>

    {% endfor %}

    <br>

    {% for question in questions %}
        <h2>{{ question.name }}</h2>
        {% for answer in question.answers %}
            <p>{{ answer.name }}</p>
        {% endfor %}
    {% endfor %}

    <br>

    <button>Submit test</button>

    <br>



{% endblock %}
