{% extends 'base.html.twig' %}

{% block body %}

<section class="bg-[#9fc53a]">
    <div class="pt-[50px] w-9/12 m-auto pb-[50px]">
        <h1 class="mb-[50px] text-[60px] font-bold text-center mt text-[#0F1b09]">Zombie Fit</h1>
        <img class="w-[100%] m-auto pb-[50px] text-[#0F1b09]" src="{{asset("uploads/zombie_fit_banniere.png")}}">
        <h2 class="text-[30px] mb-[10px] font-semibold text-[#0F1b09]">Soyez prêt à affronter l'invasion ! Devenez un expert avec Zombie-fit !</h2>
        <p class="text-[18px] pb-[30px] text-[#0F1b09]">Vous vous êtes déjà demandé ce que vous feriez en cas d'invasion zombie? Ne laissez pas l'incertitude vous prendre au dépourvu. Rejoignez Zombie-fit, la plateforme d'apprentissage qui vous prépare à survivre dans le monde post-apocalyptique.</p>
        <h2 class="text-[30px] mb-[10px] font-semibold text-[#0F1b09]">Découvrez une Formation de Survie Inégalée</h2>
        <p class="text-[18px] pb-[30px] text-[#0F1b09]">Nos cours, conçus par des experts en survie, vous enseigneront tout ce que vous devez savoir pour rester en vie dans les pires scénarios. De l'endurance à la stratégie de survie en passant par les astuces essentielles, Zombie-fit vous prépare à tous les défis.</p>
        <h2 class="text-[30px] mb-[10px] font-semibold text-[#0F1b09]">Nivelez Votre Compétence, Gagnez en Grade</h2>
        <p class="text-[18px] pb-[30px] text-[#0F1b09]">À mesure que vous maîtrisez les cours, vous progresserez en grade. Des novices aux experts, chaque niveau vous rapproche de la domination totale sur les hordes de zombies. Êtes-vous prêt à devenir un véritable survivant?</p>
        <p class="text-[18px] pb-[30px] text-[#0F1b09]">Ne laissez pas le futur incertain vous surprendre. Soyez prêt. Rejoignez Zombie-fit aujourd'hui et devenez le héros de votre propre saga apocalyptique.</p>
        <div class="text-center">
            <a class="text-[25px] rounded-full bg-[#0F1b09] text-[#9fc53a] p-[10px] m-auto" href="#">Commencer</a>    
        </div>
    </div>
</section>


{% endblock %}
